body,html {
  margin: 0;
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#676666 ;
}

a {
  color: #00B7FF;
}


.appContainer {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.title {
  text-align: center;
  margin-top: 30px;
  color: white;
}

.title h1 {
   color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  box-shadow: 0 0 1px 1px;
  background-color: #dedede;
}

#stockChart {
  height: 72vh;
  width: 72vw;
}

#stockCardContainer {
  
}

#addStock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.stockCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 18px;
  margin: 1em;
  padding: 3px;
  box-shadow: 0 0 1px 1px;
  background-color: #dedede;
  transition: all .1s linear;
}

.stockCard:hover {
  border-top: 1px solid #A020F0	;
  border-left: 3px solid #A020F0	;
}

.delete {
  color: red;
  cursor: pointer;
  font-weight: bolder;
  transition: all .3s ease;
}

.delete:hover {
  color: #a50000;
}

.delete:active {
  color: black;
}
.symbolContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
span {
  padding: 5px;
}

#btn {
  width: 120px;
  height: 25px;
  border-radius: 20px;
  box-shadow: 1.5px 2px 1px;
  outline: none;
  background-color: #A020F0;
  border: none;
  transition: all .1s linear;
}

#btn:active {
  box-shadow: none;
}
#btnContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  height: 20vh;
  top: 50px;  
  position:relative; 
  width: 250px;  
}

input {
  box-sizing: border-box;
  font-size:18px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #A020F0;
}

input:focus { outline:none; }

label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:0;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  transform: translateY(-20px);
  font-size:14px;
  color:#A020F0;
  
}

.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:0; 
  position:absolute;
  transition:0.2s ease all;
  background-color: green;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
  
}